[url "git@github.com:"]
	insteadOf = https://github.com/
[user]
	name = Daniel Brodie
	email = 11337994+danielbrodie@users.noreply.github.com
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
